.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(3px);
}

.modal {
  position: absolute;

  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: white;
  transition: all ease 0.7s;

  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
