.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px;
  border-radius: 10px;

  cursor: pointer;
  transition: background-color ease 0.3s;
}

.wrapper:hover {
  background-color: #00000010;
}

.hidden {
  visibility: hidden;
}

.title {
  font-size: 18px;
  color: #222222;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 12px;
  color: #666666;
}

.tags {
  display: flex;
  align-items: center;
  gap: 2px;
}

.category {
  font-size: 9px;
  color: #ffffff;
  background-color: #0f8e95;
  padding: 2px 5px;
  border-radius: 5px;
}

.tag {
  font-size: 9px;
  color: #ffffff;
  background-color: #9b9b9b;
  padding: 2px 5px;
  border-radius: 5px;
}
